/* INDEX.html */
.forest {
    background-image: url('../res/forest.jpg');
    background-size: cover;
    
    background-attachment: fixed;
}

.bgoverlay {
    background-color:rgba(255,255,255,0.5);
}

.headtitle {
    color:white;
    font-weight:500;
}