<header class="site-header">
    
    <div class="navbar">
      <div class="container">
          <nav class="navbar-light bg-faded">
              <span class="navbar-brand">And3k5</span>
              <ul class="nav navbar-nav">
                    {% assign _pages = site.pages | sort:"order" %}
                    {% for cpage in _pages %}
                      {% if cpage.title %}
                      <li class="nav-item{% if cpage.url == page.url %} active{% endif %}">
                          <a class="nav-link" href="{{ cpage.url | prepend: site.baseurl }}">{{ cpage.title }}</a>
                      </li>
                      {% endif %}
                    {% endfor %}
                  
                  
              </ul>
          </nav>
      </div>
    </div>
    
    <div class="jumbotron forest">
      <div class="container">
          <span class="display-4 headtitle">{{ site.title }}</span>
      </div>
    </div>
</header>
